<h2>Cart {{ cartId }}</h2>
<hr>
<div>
    <ul id="mainProducts"></ul>

</div>

<hr>
<div id="buttons">
    <a href="/products">
        <button>Products</button>
    </a>
    <hr>
    <a href="/">
        <button>Home - All Products</button>
    </a>
    <hr>
    <a href="/chat">
        <button>Chat</button>
    </a>
    <hr>

    <a href="/realTimeProducts">
        <button>Real Time Products</button>
    </a>

</div>
<script>
    const cartId = {{ cartId }};
</script>
<script src="/assets/scripts/cartDetail.js"></script>