<h2>Home - All Products</h2>
<hr>
<div>
    <ul id="mainProducts"></ul>
</div>

<a href="/realTimeProducts">
    <button>Real Time Products</button>
</a>

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/home.js"></script>