<h2>Home - All Products</h2>
<hr>
<div>
    <ul id="mainProducts"></ul>
</div>

<div id="buttons">
<a href="/realTimeProducts">
    <button>Real Time Products</button>
</a>
<hr>
<a href="/chat">
    <button>Chat</button>
</a>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/home.js"></script>