<h2>Real Time Products</h2>
<hr>
<div>
    <ul id="mainProducts"></ul>
</div>

<a href="/">
    <button>Home - All Products</button>
</a>

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/realTimeProducts.js"></script>