<h2>Registro de usuarios:</h2>
<hr>
<form action="/api/session/signup" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">

    <input type="submit" value="Create Account">
</form>
<br>
{{>menu}}